<mat-nav-list>
  <h3 mat-subheader>PROJECTS</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Project index</span>
    <span mat-line mat-subheader>view all your projects</span>
  </mat-list-item>
  <h3 mat-subheader>CALENDAR</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <span mat-line>Month view</span>
    <span mat-line mat-subheader>view all tasks monthly</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="week"></mat-icon>
    <span mat-line>Week view</span>
    <span mat-line mat-subheader>view all tasks week</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="day"></mat-icon>
    <span mat-line>Day view</span>
    <span mat-line mat-subheader>view all tasks day</span>
  </mat-list-item>
</mat-nav-list>