<div mat-subheader class="header-container">
  <div class="fill">
    <h3 class="header-title">{{ header }}</h3>
  </div>
  <div class="fill">
    <button type="button" mat-button>
      <mat-icon>add_circle_outline</mat-icon>
      <span>New Task</span>
    </button>
  </div>
  <div class="fill">
    <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>edit list name</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="move"></mat-icon>
        <span>move everything in this list</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_forever</mat-icon>
        <span>delete list</span>
      </button>
    </mat-menu>
  </div>
</div>
