<mat-sidenav-container [class.myapp-dark-theme]="toggleTheme">
  <!-- LEFT SIDENAV START -->
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <!-- LEFT SIDENAV END -->
  <div class="stie">
    <!-- HEADER START -->
    <header>
      <app-header (togger)="sidenav.toggle();" (toggerDarkTheme)="switchTheme($event);"></app-header>
    </header>
    <!-- HEADER START -->
    <!-- MAIN START -->
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- MAIN START -->
    <!-- FOOTER START -->
    <footer>
      <app-footer></app-footer>
    </footer>
    <!-- FOOTER END -->
  </div>
</mat-sidenav-container>