<mat-card>
  <mat-card-header>
    <mat-card-title>{{ project.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="project.coverImg" alt="">
  <mat-card-content>{{ project.description }}</mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button>
      <mat-icon>edit</mat-icon>
      <span>edit</span>
    </button>
    <button type="button" mat-button (click)="onInvite();">
      <mat-icon>group_add</mat-icon>
      <span>invite</span>
    </button>
    <button type="button" mat-button>
      <mat-icon>delete</mat-icon>
      <span>delete</span>
    </button>
  </mat-card-actions>
</mat-card>