/* You can add global styles to this file, and also import other style files */
@import './theme.scss';
@import 'assets/iconfont/material-icons.css';

html, body, app-root, mat-sidenav-container, .stie {
    width: 100%;
    height: 100%;
    margin: 0;

    .full-width {
        display: block !important;
        width: 100% !important;
    }

    .add-icon-btn {
        position: fixed;
        right: 2.3rem;
        bottom: 2.3rem;
    }
}

.stie {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.fill-remaining-space {
    
    flex: 1 0 auto;
}

mat-sidenav {
    width: 300px;
}
